*,
*::after,
*::before {
    box-sizing: border-box;
}

@font-face {
    font-family: arabic-c-font;
    src: url(assets/uthman_tn09.otf);
}

@font-face {
    font-family: bangla-font;
    src: url(assets/SolaimanLipi.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap");

body {
    margin: 0;
    font-size: 2rem;
    padding: 0;
}

.arabic-surah-name-li,
#bismillah {
    font-family: arabic-c-font;
    font-weight: 300;
}

#bismillah {
    text-align: center;
}

#root {
    margin: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
}

/* .surah {
    max-width: 20rem;
} */

.surah p {
    margin: 0;
    /* border: 2px solid black; */
    background-color: rgb(216, 245, 245);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.surah p .surah-no {
    color: rgb(22, 22, 22);
    font-weight: 300;
    margin-left: 0.5rem;
}

.surah p:hover {
    background-color: rgba(194, 194, 194, 0.335);
}

.arabic-surah-name-li {
    margin-left: auto;
}
